[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = https://github.com/raysan5/raylib
[submodule "dependencies/raygui"]
	path = dependencies/raygui
	url = https://github.com/raysan5/raygui.git
